<div class="dashboard-container">
  <form name="fileUploadForm">
    <div class="row">
      <h3>Step 1</h3>
      <hr>
      <div class="row large-font">
        <div class="col-perc-40 padding-left-15">
          Upload CREFC Loan Setup File for single securitization
        </div>
        <div class="col-perc-30 ta-center">
          <div class="text-success">&nbsp;{{$ctrl.loanFile.name}}</div>
        </div>
        <div class="col-perc-30">
            <div ngf-select ng-model="$ctrl.loanFilePlaceHolder" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-drop ngf-multiple="false"
                 ngf-model-options="{updateOn: 'change click drop dropUrl paste', allowInvalid: true, debounce: 0}"
                 ngf-pattern="*">
                 <div class="">
                  Drop .xls File Here
                 </div>
                 <button type="button" name="upload" class="btn-upload btn btn-primary">Select a File From Your Computer</button>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Step 2</h3>
      <hr>
      <div class="row large-font">
        <div class="col-perc-40 padding-left-15">
          Upload most recent reporting period IRP files for a single securitization.
        </div>
        <div class="col-perc-30 ta-center">
          &nbsp;
          <div class="text-success" ng-repeat="_serviceFile in $ctrl.serviceFile track by $index">{{ _serviceFile.name }}</div>
        </div>
        <div class="col-perc-30">
          <div ngf-select ng-model="$ctrl.serviceFilePlaceHolder" class="drop-box"
               ngf-drag-over-class="'dragover'"  ngf-drop ngf-multiple="true"
               ngf-model-options="{updateOn: 'change click drop dropUrl paste', allowInvalid: true, debounce: 0}"
               ngf-pattern="*">
                 <div class="">
                  Drop .xls File Here
                 </div>
                 <button type="button" name="upload" class="btn-upload btn btn-primary">Select a File From Your Computer</button>
            </div>
        </div>
      </div>
      <div class="row available-service-container">
        <div class="large-font">
          Required Reports
        </div>
        <div class="">
          Tabs must be named according to CREFC IRP Guidelines. If, after upload, any of the required sections do not appear green, please edit the tab name in your original file and upload the revised file.
        </div>
        <div class="col-perc-20"   ng-repeat="tab in $ctrl.availableServiceTabs">
            <div class="alert bordered" ng-class="{ 'alert-success': tab.isAvailable }">
              <span>{{ tab.name }}</span>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Step 3</h3>
      <hr>
      <div class="row large-font">
        <div class="col-perc-40 padding-left-15">
          Upload most recent LPER files for a single securitization.
        </div>
        <div class="col-perc-30 ta-center">
          &nbsp;
          <div class="text-success"  ng-repeat="lperFile in $ctrl.lperFile track by $index">{{ lperFile.name }}</div>
        </div>
        <div class="col-perc-30">
          <div ngf-select ng-model="$ctrl.lperFilePlaceHolder" class="drop-box"
               ngf-drag-over-class="'dragover'"  ngf-drop ngf-multiple="true"
               ngf-model-options="{updateOn: 'change click drop dropUrl paste', allowInvalid: true, debounce: 0}"
               ngf-pattern="*">
            <div class="">
              Drop .xls File Here
            </div>
            <button type="button" name="upload" class="btn-upload btn btn-primary">Select a File From Your Computer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Step 4</h3>
      <hr>
      <div class="row large-font">
        <div class="col-perc-40 padding-left-15">
          Consolidate IRP to Single File Format
        </div>
        <div class="col-perc-30 ta-center">
          <div class="text-success">&nbsp;</div>
        </div>
        <div class="col-perc-30" >
          <!-- ng-if="$ctrl.loanFile && $ctrl.serviceFile" -->
          <button ng-disabled="$ctrl.sumittingFiles" class="go col-perc-50 btn btn-primary "
                  ng-click="$ctrl.uploadFiles()"><span ng-if="!$ctrl.sumittingFiles">Consolidate</span><span
                  ng-if="$ctrl.sumittingFiles">  Consolidating <tiny-spinner></tiny-spinner></span>
          </button>
            <button class="btn btn-primary col-perc-50 pull-right"  href="javascript:void(0)" ng-click="$ctrl.downloadJson()"> Download File</button>
        </div>
      </div>
    </div>
  </form>

  <h3>Consolidated Output</h3>
  <hr>
  <div>
    <span class="pull-left" ng-if="$ctrl.totalNumberOfInvestment > 0">Total # of Investment <strong>{{ $ctrl.totalNumberOfInvestment }}</strong></span>
    <br>
    <span class="pull-left" ng-if="$ctrl.totalNumberOfAsset > 0">Total # of Asset <strong>{{ $ctrl.totalNumberOfAsset }}</strong></span>
  </div>
  <div class="row clearfix margin-top-20" id="investmentTreeView">
  </div>

  <div class="row" ng-if="$ctrl.errorMsgLog">
    <button class="btn btn-link pull-right"  ng-click="$ctrl.showErrorMsgLog = !$ctrl.showErrorMsgLog"> <span ng-if="$ctrl.showErrorMsgLog">Hide Error Log</span><span ng-if="!$ctrl.showErrorMsgLog">Show Error Log</span> </button>
    <textarea ng-if="$ctrl.showErrorMsgLog"  rows="10"  class="form-control col-perc-100 pull-right">{{ $ctrl.errorMsgLog }}</textarea>
  </div>
</div>
