<div class="info-modal">
    <div class="modal-header">
        <h4 class="modal-title" ng-if="title">Edit {{ $ctrl.contextFile.name }}</h4>
    </div>
    <div class="modal-body">
        <h4  ng-if="$ctrl.contextFile.name">{{ $ctrl.contextFile.name }} was not a valid xlsx type file. Therefore it need to be correct to the valid file type. Once the processing is done please make sure  to edit the  sheet names.</h4>
        <div ng-if="$ctrl.isProcessing">Processing File <tiny-spinner></tiny-spinner>  </div>
        <div ng-repeat="table in $ctrl.htmlTables">
            <form class="form-inline">
                <div class="form-group">
                    <label for="sheetName">Sheet Name</label>
                    <select class="form-control"  id="sheetName" ng-model="table.sheetName" required>
                        <option value="">Please Select Sheet name</option>
                        <option ng-value="sheet" ng-repeat="sheet in $ctrl.sheetNameOptions">{{ sheet }}</option>
                    </select>
                </div>
            </form>
            <div class="table-responsive" style="height: 500px;">

               <span ng-bind-html="table._html"></span>

               <!-- <table class="table table-condensed">
                    <tbody>
                        <tr ng-repeat="row in table.rows">
                             <td ng-repeat="col in row track by $index">
                                    <span> {{ ::col}} &nbsp;</span>
                             </td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-xs" type="button" ng-click="$ctrl.submit()">Submit</button>
    </div>
</div>
